@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.header {
    z-index: 1000 !important;
    width: 100vw;
    height: 50px;
    position: absolute !important;
    top: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.footer {
    z-index: 1000 !important;
    width: 100vw;
    height: 50px;
    position: absolute !important;
    bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.144);
}

.ant-col {
    padding: 1em !important;
}